{% load static %} {% load sass_tags %}
<div class="col-lg-6 col-sm-12 col-xs-12">
    <div class="checkout-details">
        <div class="order-box">
            <div class="title-box">
                <div>Productos <span>Total</span></div>
            </div>
            {% for order_item in order.items.all %}
                <ul class="qty">
                    <li>{{ order_item.item.title}} × {{ order_item.quantity }} <span>${{ order_item.get_final_price }}</span></li>
                </ul>
            {% endfor %}
            <ul class="total">
                <li>Total <span class="count">${{ order.get_total }}</span></li>
            </ul>
            <ul class="sub-total">
                <li>Envío
                    <div class="shipping">
                        <div class="shopping-option">
                            <input id="free-shipping" name="shipping_option" type="radio">
                            <label for="dhl">DHL</label>
                        </div>
                        <div class="shopping-option">
                            <input id="sepomex" name="shipping_option" type="radio">
                            <label for="sepomex">SEPOMEX</label>
                        </div>
                        <div class="shopping-option">
                            <input id="local-pickup" name="shipping_option" type="radio">
                            <label for="local-pickup">Entrega directa</label>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="payment-box">
            <div class="upper-box">
                <div class="payment-options">
                    <ul>
                        {% for value, name in form.fields.payment_option.choices %}
                        <li>
                            <div class="radio-option">
                                <div class="custom-control custom-radio">
                                    <input id="{{ name }}" name="payment_option" value="{{ value }}" type="radio" class="custom-control-input" required>
                                    <label class="custom-control-label" for="{{ name }}">{{ name }}</label>
                                </div>
                                <span class="image"><img alt="" src="{% static 'assets/images/inner-page/'%}{{value}}.png"></span>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="text-end">
              <button class="btn btn-default primary-btn radius-0" type="submit">Continuar al pago</button>
            </div>
        </div>
    </div>
</div>