{% extends 'base-home.html' %}{% load static %} {% load sass_tags %}
{% block css %}
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800" rel="stylesheet">
<!-- color css -->
<link href="{% sass_src 'assets/scss/inner-page.scss' %}" rel="stylesheet" type="text/css">
<!--magnific popup css-->
<link href="{% sass_src 'assets/scss/magnific-popup.scss' %}" rel="stylesheet">
{% endblock css %}
{% block content %}
<!--breadcrumb section start-->
{% include 'home/portfolio-metro/components/breadcrumb.html' %}
<!--breadcrumb section end-->
<!-- section start -->
{% include 'home/portfolio-metro/components/main.html' %}
<!-- Section ends -->
<!-- footer start -->
{% include 'home/portfolio-metro/components/footer.html' %}
<!-- footer end -->
<!-- copyright start -->
{% include 'home/portfolio-metro/components/copyright.html' %}
<!-- copyright end -->
{% endblock content %}
{% block scriptcontent %}
<!--magnific popup js-->
<script src="{% static 'assets/js/magnific-popup.js' %}"></script>
<script src="{% static 'assets/js/isotope.min.js' %}"></script>
<script src="{% static 'assets/js/portfolio.js' %}"></script>
<!-- AOS JS -->
<script src="{% static 'assets/js/aos.js' %}"></script>
<!-- script js-->
<script src="{% static 'assets/js/zoom-gallery.js' %}"></script>
{% endblock scriptcontent %}